.nav-wrapper {
    background-image: url("../../images/nav-image.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    height: 15vh;
    font-size: 15px;
}

.nav-wrapper > h1 {
    font-size: 30px;
    align-self: flex-end;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    align-self: flex-end;
}

li {
    text-align: end;
    margin: 2px auto;
}

@media only screen and (min-width: 768px) {
    .nav-wrapper { font-size: 20px;}

    .nav-wrapper > h1 { 
        font-size: 40px;
        margin-bottom: 15px;
    }
}