.Result {
    margin: 10px;
}

.Result-thumb {
    max-width: 200px;
    max-height: 180px;
    align-self: baseline;
    transition: transform .5s ease;
}

.Result-thumb:hover {
    transform: scale(1.5);
}

@media only screen and (min-width: 768px) {
    .Result-thumb, .Result-title { width: 150px; }

    .Result-thumb:hover { transform: scale(2.75); }
}