footer {
    background-image: url("../../images/Nasty\ Nebula\ Hubble.jpg");
    background-size: cover;
    background-position: top;
    border-top: 1px gray dashed;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 5px 15px;
    font-size: small;
}

.gh {
    height: 17px;
}

#disclaim {
    width: 40vw;
    text-align: end;
}

@media only screen and (min-width: 768px) {
    footer { font-size: initial; }

    .gh { height: 20px; }

    #disclaim { width: auto; }
}