.SignupForm {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.active {
    margin-right: 10px;
    font-family: 'MuseoModerno', cursive;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#signup {
    font-size: 18px;
    font-family: 'MuseoModerno', cursive;
    background-color: rgb(171, 168, 157);
    border: none;
}

#cancel {
    margin-top: 10px;
    padding: 1px 5px;
    background-color: rgba(189, 37, 32, .74);
}

#cancel:hover {
    color: rgba(189, 37, 32, .74);
    background-color: white;
    font-weight: 900;
}