.PhotoCard {
    color: white;
    padding: 15px;
    text-align: center;
}

.PhotoCard-Image {
    max-width: 60vw;
    border: 5px solid rgba(145, 145, 145, 0.3);
}

.PhotoCard-Details {
    text-align: start;
    border-bottom: 1px solid white;
}

.PhotoCard-Description {
    font-family: 'Nunito', sans-serif;
}

.delete {
    background-color: rgb(133, 13, 13);
    width: 218px;
    padding: 0 5px;
    text-align: center;
    border: 2px solid rgb(74, 4, 4);
}

.delete:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .PhotoCard { 
        display: flex;
        margin-left: 30px;
    }
    
    .PhotoCard-Image { max-width: 32vw; }
    
    .PhotoCard-Details { 
        margin: 0 20px;
        max-width: 40vw;
        border-bottom: none;
    }
}