.CollectionsPage {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add {
    background-color: rgb(51, 90, 140);
    padding: 0 4px;
    border: 3px solid rgb(25, 73, 135);
}

.search {
    background-color: rgb(171, 168, 157);
    color: rgb(25, 73, 135);
    font-weight: 900;
    padding: 0 4px;
    border: 3px solid rgb(25, 73, 135);
}

@media only screen and (min-width: 768px) {
    .collections-wrapper { 
        display: flex; 
        flex-flow: row wrap;
        justify-content: center;
    }
}