@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&wght@900&display=swap");

body {
  font-family: 'MuseoModerno', cursive;
  margin: 0;
  background-image: url("./images/Nasty\ Nebula\ Hubble.jpg");
  background-size: stretch;
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgb(53, 64, 75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}